<meta charset="utf-8">
{{- hugo.Generator -}}
<meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover">
<meta name="color-scheme" content="light dark">
<meta name="supported-color-schemes" content="light dark">

{{- define "title" -}}
    {{- $title := .Title -}}
    {{- if and (ne $title "") (ne $title site.Title) -}}
        <title>{{- $title | safeHTML -}} &nbsp;&ndash;&nbsp; {{- site.Title | safeHTML -}}</title>
    {{- else -}}
        {{- $slogan := site.Params.slogan -}}
        <title>{{- site.Title | safeHTML -}}{{- if and (isset site.Params "slogan") (ne $slogan "") -}} &nbsp;&ndash;&nbsp;
            {{- $slogan | safeHTML -}}{{- end -}}</title>
    {{- end -}}
{{- end -}}

{{- block "title" . -}}{{- end -}}

{{- partial "style.html" . -}}
{{- partial "rss-feed.html" . -}}
{{- partial "twitter-card.html" . -}}
{{- if .Params.Robots -}}
<meta name="robots" content="{{ .Params.robots }}" />
{{- end -}}
{{- partial "head-extra.html" . -}}

<!-- Matomo -->
<script type="text/javascript">var _paq=window._paq=window._paq||[];_paq.push(['trackPageView']);_paq.push(['enableLinkTracking']);(function(){var u="https://stats.rojen.uk/";_paq.push(['setTrackerUrl',u+'matomo.php']);_paq.push(['setSiteId','4']);var d=document,g=d.createElement('script'),s=d.getElementsByTagName('script')[0];g.type='text/javascript';g.async=true;g.src=u+'matomo.js';s.parentNode.insertBefore(g,s)})();</script>
<!-- End Matomo Code -->
